openapi: 3.2.0
info:
  version: 1.12.1
  title: PodcastIndex.org Add API
  termsOfService: https://github.com/Podcastindex-org/legal/blob/main/TermsOfService.md
  contact:
    email: info@podcastindex.org
    url: https://podcastindex.org/
  license:
    name: MIT
    url: https://github.com/Podcastindex-org/docs-api/blob/master/LICENSE
  x-logo:
    url: logo.svg
    href: /
  description: Download the openapi spec in json or yaml format.
servers:
- url: https://api.podcastindex.org/api/1.0
tags:
- name: Add
  description: 'Add new podcast feeds to the index.


    **NOTE**: To add to the index, the API Key must have write or publisher permissions.'
paths:
  /add/byfeedurl:
    get:
      tags:
      - Add
      summary: By Feed URL
      description: 'This call adds a podcast to the index using its feed url. If a feed already exists, you will get its existing Feed ID returned.


        **NOTE**: this endpoint requires an API Key with the **write** permission.


        Example: https://api.podcastindex.org/api/1.0/add/byfeedurl?url=https://feeds.theincomparable.com/batmanuniversity&pretty'
      operationId: add/byfeedurl:get
      security:
      - API-Key: []
        User-Agent: []
        Date: []
        Authorization: []
      parameters:
      - $ref: '#/components/parameters/url'
      - $ref: '#/components/parameters/chash'
      - $ref: '#/components/parameters/itunesid'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          $ref: '#/components/responses/add_byfeedurl'
        '302':
          $ref: '#/components/responses/add_byfeedurl'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
      - Add
      summary: By Feed URL
      description: 'This call adds a podcast to the index using its feed url. If a feed already exists, you will get its existing Feed ID returned.


        **NOTE**: this endpoint requires an API Key with the **write** permission.


        Example: https://api.podcastindex.org/api/1.0/add/byfeedurl?url=https://feeds.theincomparable.com/batmanuniversity&pretty'
      operationId: add/byfeedurl:post
      security:
      - API-Key: []
        User-Agent: []
        Date: []
        Authorization: []
      parameters:
      - $ref: '#/components/parameters/url'
      - $ref: '#/components/parameters/itunesid'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          $ref: '#/components/responses/add_byfeedurl'
        '302':
          $ref: '#/components/responses/add_byfeedurl'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /add/byitunesid:
    get:
      tags:
      - Add
      summary: By iTunes ID
      description: 'This call adds a podcast to the index using its iTunes ID. If a feed already exists, it will be noted in the response.


        **NOTE**: this endpoint requires an API Key with the **write** permission.


        Example: https://api.podcastindex.org/api/1.0/add/byitunesid?id=1441923632&pretty'
      operationId: add/byitunesid:get
      security:
      - API-Key: []
        User-Agent: []
        Date: []
        Authorization: []
      parameters:
      - $ref: '#/components/parameters/id_itunes_add'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          $ref: '#/components/responses/add_byitunesid'
        '302':
          $ref: '#/components/responses/add_byitunesid'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
      - Add
      summary: By iTunes ID
      description: 'This call adds a podcast to the index using its iTunes ID. If a feed already exists, it will be noted in the response.


        **NOTE**: this endpoint requires an API Key with the **write** permission.


        Example: https://api.podcastindex.org/api/1.0/add/byitunesid?id=1441923632&pretty'
      operationId: add/byitunesid:post
      security:
      - API-Key: []
        User-Agent: []
        Date: []
        Authorization: []
      parameters:
      - $ref: '#/components/parameters/id_itunes_add'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          $ref: '#/components/responses/add_byitunesid'
        '302':
          $ref: '#/components/responses/add_byitunesid'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
components:
  schemas:
    description_response:
      description: 'Description of the response

        '
      type: string
      example: Found matching feed
    existed:
      description: 'Indicates if feed already exists in the index

        '
      type: string
      enum:
      - 'true'
      - 'false'
      example: 'true'
    id_feed:
      description: 'The internal PodcastIndex.org Feed ID.

        '
      type: integer
      example: 75075
    status:
      description: 'Indicates API request status

        '
      type: string
      enum:
      - 'true'
      - 'false'
      example: 'true'
  parameters:
    itunesid:
      name: itunesid
      in: query
      description: 'If this parameter is given, and the existing feed has no associated iTunes ID, it will be associated with this ID.

        If an existing iTunes ID is already associated with this feed it will **NOT** be changed.

        '
      schema:
        type: integer
      example: 1441923632
    pretty:
      name: pretty
      in: query
      description: 'If present, makes the output “pretty” to help with debugging.



        Parameter shall not have a value

        '
      schema:
        type: boolean
      allowEmptyValue: true
    chash:
      name: chash
      in: query
      description: "The md5 hash of the following feed items in hex format.\nIf known, allows for easier duplicate checking.\n\n  - `title`\n  - `link`\n  - `feedLanguage`\n  - `generator`\n  - `author`\n  - `ownerName`\n  - `ownerEmail` (note: not exposed via the API)\n\nPseudo-code:\n\n      chash = md5(title+link+feedLanguage+generator+author+ownerName+ownerEmail)\n"
      required: true
      allowReserved: true
      schema:
        type: string
      example: ad651c60eaaf3344595c0dd0bd787993
    url:
      name: url
      in: query
      description: 'Podcast feed URL

        '
      required: true
      allowReserved: true
      schema:
        type: string
      example: https://feeds.theincomparable.com/batmanuniversity
    id_itunes_add:
      name: id
      in: query
      description: 'The iTunes ID to add

        '
      schema:
        type: integer
      example: 1441923632
  responses:
    add_byfeedurl:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              feedId:
                $ref: '#/components/schemas/id_feed'
              existed:
                $ref: '#/components/schemas/existed'
              description:
                $ref: '#/components/schemas/description_response'
    add_byitunesid:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              description:
                $ref: '#/components/schemas/description_response'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            type: string
          example: Authorization header value either not set or blank.
    '400':
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              description:
                $ref: '#/components/schemas/description_response'
          example:
            status: 'false'
            description: Invalid parameters
  securitySchemes:
    User-Agent:
      type: apiKey
      in: header
      name: User-Agent
      description: 'Please identify the system/product you are using to make this request.



        *Example*: `SuperPodcastPlayer/1.3`

        '
    API-Key:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: 'Your API key string



        *Example*: `UXKCGDSYGUUEVQJSYDZH`

        '
    Date:
      type: apiKey
      in: header
      name: X-Auth-Date
      description: 'The current UTC unix epoch time as a string. 3 minute window.



        This value is an integer; round down if needed. The value shall not include a decimal point.



        Value generated should match the value shown on the website https://www.epochconverter.com/.



        *Example*: `1613713388`

        '
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: "A SHA-1 hash of the `X-Auth-Key`, the corresponding secret and the `X-Auth-Date` value concatenated as a string.\nThe resulting hash should be encoded as a hexadecimal value, two digits per byte, using lower case letters for\nthe hex digits \"a\" through \"f\".\n\n\nThe Authorization header is computed with something like this (pseudo-code):\n\n    authHeader = sha1(apiKey+apiSecret+unixTime)\n\nExample value, uses example values of `X-Auth-Key` and `X-Auth-Date` and an api secret of\n`yzJe2eE7XV-3eY576dyRZ6wXyAbndh6LUrCZ8KN|`\n\n\n*Example*: `UXKCGDSYGUUEVQJSYDZH`\n"
