openapi: 3.0.2
info:
  version: 1.12.1
  title: PodcastIndex.org Add Static Data API
  termsOfService: https://github.com/Podcastindex-org/legal/blob/main/TermsOfService.md
  contact:
    email: info@podcastindex.org
    url: https://podcastindex.org/
  license:
    name: MIT
    url: https://github.com/Podcastindex-org/docs-api/blob/master/LICENSE
  x-logo:
    url: logo.svg
    href: /
  description: "Download the openapi spec in [json](pi_api.json) or [yaml](pi_api.yaml) format.\n\n# Overview\n\nThe Podcast Index (Podcast Index LLC) is a software developer focused partnership that provides tools and data to\nanyone who aspires to create new and exciting Podcast experiences without the heavy lifting of indexing,\naggregation and data management.\n\n# Example Code\n\nUsers have provided example code for working the API in the following languages:\n\n  - [AWS Lambda - python](https://github.com/tbowers/python-podcastindex-org-lambda)\n  - [Bash](https://github.com/suorcd/Bash-podcastindex-org-example)\n  - [C#](https://github.com/ComicStrip/csharp-podcastindex-org-example)\n  - [Elisp](https://github.com/sabexx/elisp-example)\n  - [Flutter/Dart](https://github.com/crediblecreative/flutter-dart-podcastindex-org-example)\n  - [Go](https://github.com/ComicStrip/Go-podcastindex-org-example)\n  - [Go](https://github.com/kilobit/podcast-index-client)\n  - [Java](https://github.com/ComicStrip/Java-podcastindex-org-example)\n  - [Java](https://github.com/stucoates/PodcastIndexJavaClient)\n  - [Node.js](https://github.com/ComicStrip/node.js-podcastindex-org-example)\n  - [PHP](https://github.com/Podcastindex-org/example-code)\n  - [Python](https://github.com/tbowers/python-podcastindex-org-example)\n  - [Swift](https://github.com/ComicStrip/Swift-podcastindex-org-example)\n  - ... [More](https://github.com/Podcastindex-org-Examples)\n\nDon't see your desired language, create an example repo and create a\n[Pull Request](https://github.com/Podcastindex-org/docs-api/pulls) with a link to your example code project!\n\n# Libraries\n\nUser created libraries for working with the API:\n\n  - Java\n      - [podcast4j](https://github.com/yusufyilmazfr/podcast4j)\n  - .NET\n      - [PodcastIndexSharp](https://www.nuget.org/packages/PodcastIndexSharp)\n  - Node.js/npm/yarn\n      - [podcast-index-api](https://www.npmjs.com/package/podcast-index-api)\n      - [podcastdx-client](https://www.npmjs.com/package/podcastdx-client)\n  - PHP\n      - [podcastindex-php](https://github.com/LowSociety/podcastindex-php)\n  - Python/pip\n      - [python-podcastindex](https://pypi.org/project/python-podcastindex/)\n  - R\n      - [podindexr](https://github.com/rpodcast/podindexr)\n  - Ruby\n      - [podcast-index](https://github.com/jasonyork/podcast-index)\n  - Swift\n      - [PodcastIndexKit](https://github.com/SparrowTek/PodcastIndexKit)\n  - Kotlin\n      - [PodcastIndex-SDK](https://github.com/mr3y-the-programmer/PodcastIndex-SDK)\n  - Go\n      - [podcastindex](https://github.com/jjgmckenzie/podcastindex)\n      - [podcastindex-go](https://github.com/koalahl/podcastindex-go)\n\nAre we missing a library? Did you create one for a different language? Create a\n[Pull Request](https://github.com/Podcastindex-org/docs-api/pulls) with a link to the new library!\n\n# Postman\n\nA collection file for use in the [Postman](https://www.postman.com/) application is available for this API.\n\n  1. Download the contents of the [Postman Docs](https://github.com/Podcastindex-org/docs-api/tree/master/Postman%20Docs) folder.\n  2. Import the `PodcastIndex.postman_collection.json` collection to Postman\n  3. Import the `PodcastIndexOrgEnvironment.postman_environment.json` to Postman\n  4. Click \"Environments\" on the left sidebar\n  5. Select the checkbox next to the PodcastIndexOrgEnvironment entry\n  6. Set `AuthKey` and `SeceretKey` values under the \"Current Value\" column using your API information\n  7. Click \"Collections\" from the sidebar\n  8. Select PodcastIndex\n  9. Select and run the endpoint to test\n\n# Contributing\n\nThe source for this API documentation is available at\n[https://github.com/Podcastindex-org/docs-api](https://github.com/Podcastindex-org/docs-api).\nSubmit an Issue or create a Pull Request.\n\n# Authentication Details\n\nSending an API request is easy. We use an Amazon-style request authorization token to secure each request.\n\n\nRegister for a free API key at https://api.podcastindex.org/\n\n\nThese headers parameters are required for each request: `User-Agent`, `X-Auth-Date`, `X-Auth-Key`, `Authorization`\n\n\nSee [Authentication](#auth) for description of parameters.\n\n# Legal\n\nLegal\n\n  - [Privacy Policy](https://github.com/Podcastindex-org/legal/blob/main/PrivacyPolicy.md)\n  - [Terms of Service](https://github.com/Podcastindex-org/legal/blob/main/TermsOfService.md)\n  - [License](https://github.com/Podcastindex-org/docs-api/blob/master/LICENSE)\n"
servers:
- url: https://api.podcastindex.org/api/1.0
tags:
- name: Static Data
paths:
  /static/stats/daily_counts.json:
    get:
      tags:
      - Static Data
      summary: Stats Daily Counts
      description: 'Report a number of statistics about the feeds in Podcast Index''s database. Updated daily.



        A subset of stats can be retrieved using the API endpoint [stats/current](#get-/stats/current).



        View at: https://stats.podcastindex.org/daily_counts.json

        '
      operationId: daily_counts.json
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_stats_counts'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/stats/hourly_counts.json:
    get:
      tags:
      - Static Data
      summary: Stats Hourly Counts
      description: 'Report a number of statistics about the feeds in Podcast Index''s database. Updated hourly.



        A subset of stats can be retrieved using the API endpoint [stats/current](#get-/stats/current).



        View at: https://stats.podcastindex.org/hourly_counts.json

        '
      operationId: hourly_counts.json
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_stats_counts'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/stats/chart-data.json:
    get:
      tags:
      - Static Data
      summary: v4v Sats
      description: 'Contains the raw data used to populate the graphs at https://stats.podcastindex.org/v4v.


        This is a look at the total [sats](https://www.investopedia.com/terms/s/satoshi.asp) flowing through the Value4Value

        Lightning podcasting economy over various periods of time.


        We calculate this data based on our visibility as a one percent voluntary split on Podcastindex.org api

        calls. Therefore, the true numbers could be higher, but they cannot be lower than listed here. This represents our

        best approximation of how many sats are flowing across the entire ecosystem from listeners to creators, guests (via

        episode splits), platforms, services and apps.



        View at: https://stats.podcastindex.org/chart-data.json

        '
      operationId: chart-data.json
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_sats_data'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/stats/v4vmusic.json:
    get:
      tags:
      - Static Data
      summary: v4v Music Chart JSON
      description: 'Contains the ranking of the music tracks played on podcasts that have been boosted the most over the last 7 days.


        Each entry shows the number of listener boosts sent over this time period. The chart is updated hourly.



        Can be viewed in a browser at https://podcastindex.top/ (https://stats.podcastindex.org/v4vmusic.html).



        View at: https://stats.podcastindex.org/v4vmusic.json



        Also available in [OPML](#get-/static/stats/v4vmusic.opml) and [RSS](#get-/static/stats/v4vmusic.rss).

        '
      operationId: v4vmusic.json
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_music_json'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/stats/v4vmusic.opml:
    get:
      tags:
      - Static Data
      summary: v4v Music Chart OPML
      description: 'Contains the ranking of the music tracks played on podcasts that have been boosted the most over the last 7 days.


        Each entry shows the number of listener boosts sent over this time period. The chart is updated hourly.



        Can be viewed in a browser at https://podcastindex.top/ (https://stats.podcastindex.org/v4vmusic.html).



        View at: https://stats.podcastindex.org/v4vmusic.opml



        Also available in [JSON](#get-/static/stats/v4vmusic.json) and [RSS](#get-/static/stats/v4vmusic.rss).

        '
      operationId: v4vmusic.opml
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_music_opml'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/stats/v4vmusic.rss:
    get:
      tags:
      - Static Data
      summary: v4v Music Chart RSS
      description: 'Contains the ranking of the music tracks played on podcasts that have been boosted the most over the last 7 days.


        Each entry shows the number of listener boosts sent over this time period. The chart is updated hourly.



        Can be viewed in a browser at https://podcastindex.top/ (https://stats.podcastindex.org/v4vmusic.html).



        View at: https://stats.podcastindex.org/v4vmusic.rss



        Also available in [JSON](#get-/static/stats/v4vmusic.json) and [OPML](#get-/static/stats/v4vmusic.opml).

        '
      operationId: v4vmusic.rss
      security: []
      servers:
      - url: https://stats.podcastindex.org
        description: Podcast Index Stats
      responses:
        '200':
          $ref: '#/components/responses/static_music_rss'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/tracking/current:
    get:
      tags:
      - Static Data
      summary: Current
      description: 'This call returns every new feed and episode added to the index over the past 24 hours in reverse chronological order.



        This is similar to `/recent/feeds` but uses the date the feed was found by the index rather than the feed''s

        internal timestamp.



        Similar data can also be retrieved using the API endpoint [recent/data](#get-/recent/data).



        Access at: https://tracking.podcastindex.org/current



        The prior 24 hours of data (going backwards until all tracked data is received) can be accessed using the timestamp

        of the previous data set. This is found in the `previousTrackingUrl`.

        The format of these prior data sets follows the format described below.

        '
      operationId: current
      security: []
      servers:
      - url: https://tracking.podcastindex.org
        description: Podcast Index Tracking
      responses:
        '200':
          $ref: '#/components/responses/static_current'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/tracking/feedValueBlocks:
    get:
      tags:
      - Static Data
      summary: Feed Value Blocks
      description: 'Get all feeds with value blocks.



        Access at: https://tracking.podcastindex.org/feedValueBlocks.json

        '
      operationId: feedValueBlocks.json
      security: []
      servers:
      - url: https://tracking.podcastindex.org
        description: Podcast Index Tracking
      responses:
        '200':
          $ref: '#/components/responses/static_tracking_feed_value_blocks'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/tracking/episodeValueBlocks:
    get:
      tags:
      - Static Data
      summary: Episode Value Blocks
      description: 'Get all episodes with value blocks.



        Access at: https://tracking.podcastindex.org/episodeValueBlocks.json

        '
      operationId: episodeValueBlocks.json
      security: []
      servers:
      - url: https://tracking.podcastindex.org
        description: Podcast Index Tracking
      responses:
        '200':
          $ref: '#/components/responses/static_tracking_episode_value_blocks'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/public/podcastindex_dead_feeds.csv:
    get:
      tags:
      - Static Data
      summary: Dead Feeds
      description: 'Lists all feed Ids that have been marked dead in the Podcast Index database. The list is updated every X hours.



        A subset of stats can be retrieved using the API endpoint [podcasts/dead](#get-/podcasts/dead).



        Download from: https://public.podcastindex.org/podcastindex_dead_feeds.csv

        '
      operationId: podcastindex_dead_feeds.csv
      security: []
      servers:
      - url: https://public.podcastindex.org
        description: Podcast Index Public
      responses:
        '200':
          $ref: '#/components/responses/static_dead_feeds'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
  /static/public/podcastindex_feeds.db.tgz:
    get:
      tags:
      - Static Data
      summary: Feeds Database
      description: 'Compressed database of all non-dead feeds in the Podcast Index database.



        Updated daily. Some attributes excluded. No episodes included.



        Download from: https://public.podcastindex.org/podcastindex_feeds.db.tgz

        '
      operationId: podcastindex_feeds_db.tgz
      security: []
      servers:
      - url: https://public.podcastindex.org
        description: Podcast Index Public
      responses:
        '200':
          $ref: '#/components/responses/static_feeds_db'
        '400':
          $ref: '#/components/responses/400_static'
        '404':
          $ref: '#/components/responses/404'
components:
  responses:
    static_music_opml:
      description: "The hourly Top X music\n\n\nData follows the [OPML spec](https://opml.org/spec2.opml) with additions of\n[Podcast Namespace](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md) attributes.\n\n\nExample `outline` entry:\n\n```xml\n<outline type=\"rss\" text=\"To be in Nashville\" xmlUrl=\"https://files.heycitizen.xyz/Songs/Albums/The-Heycitizen-Experience/the heycitizen experience.xml\" podcast:feedGuid=\"a2d2e313-9cbd-5169-b89c-ab07b33ecc33\" podcast:itemGuid=\"ac34129c-c78a-463e-a64f-01405e1f2be4\"/>\n```\n\nAttributes:\n\n  - `text`\n    - Title of Track\n    - Example: `\"To be in Nashville\"`\n  - `xmlUrl`\n    - Feed URL track is in\n    - Example: `\"https://files.heycitizen.xyz/Songs/Albums/The-Heycitizen-Experience/the heycitizen experience.xml\"`\n  - `podcast:feedGuid`\n    - The GUID from the `podcast:guid` tag in the feed. This value is a unique, global identifier for the podcast.\n    - See the namespace spec for [guid](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#guid) for details.\n    - Example: `\"a2d2e313-9cbd-5169-b89c-ab07b33ecc33\"`\n  - `podcast:itemGuid`\n    - The unique identifier for the episode\n    - Example: `\"ac34129c-c78a-463e-a64f-01405e1f2be4\"`\n"
      content:
        application/xml:
          schema:
            type: object
    static_tracking_episode_value_blocks:
      description: Array of episodes containing value blocks
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                episodeGuid:
                  $ref: '#/components/schemas/guid'
                episodeId:
                  $ref: '#/components/schemas/id_episode'
                feedId:
                  $ref: '#/components/schemas/id_feed'
                feedUrl:
                  $ref: '#/components/schemas/url_feed'
                itunesId:
                  $ref: '#/components/schemas/itunesId_feed'
                podcastGuid:
                  $ref: '#/components/schemas/podcastguid'
                value:
                  $ref: '#/components/schemas/value'
                valueCreatedOn:
                  $ref: '#/components/schemas/valueCreatedOn'
    static_feeds_db:
      description: 'Podcast Index Feeds Database

        '
      content:
        application/gzip:
          schema:
            type: object
    '404':
      description: Not found
    static_dead_feeds:
      description: 'Feed Ids in CSV file format.



        Each row is the feed id. No Header.



        Example:



        ```csv

        3,

        38,

        43,

        45,

        56,

        ```

        '
      content:
        application/csv:
          schema:
            type: object
    static_music_json:
      description: The hourly Top X music
      content:
        application/json:
          schema:
            type: object
            properties:
              title:
                description: Title of music
                type: string
                example: Podcasting 2.0 Top 100 (Music)
              description:
                description: Description of object
                type: string
                example: An hourly Top 100 music playlist.
              timestamp:
                description: Date updated
                type: integer
                example: 1724465107
              items:
                description: Array of top X music feeds
                type: object
                properties:
                  rank:
                    description: Rank in chart
                    type: integer
                    example: 1
                  boosts:
                    description: Number of boosts
                    type: string
                    example: '42'
                  title:
                    description: Title of Track
                    type: string
                    example: To be in Nashville
                  image:
                    $ref: '#/components/schemas/image_episode'
                  feedId:
                    $ref: '#/components/schemas/id_feed'
                  feedUrl:
                    $ref: '#/components/schemas/url_feed'
                  feedGuid:
                    $ref: '#/components/schemas/podcastguid'
                  itemGuid:
                    $ref: '#/components/schemas/guid'
    static_stats_counts:
      description: Object containing the statistics for the Podcast Index feed data
      content:
        application/json:
          schema:
            type: object
            properties:
              feedCountTotal:
                $ref: '#/components/schemas/feedCountTotal'
              episodeCountTotal:
                $ref: '#/components/schemas/episodeCountTotal'
              feedsWithNewEpisodes3days:
                $ref: '#/components/schemas/feedsWithNewEpisodes3days'
              feedsWithNewEpisodes7days:
                $ref: '#/components/schemas/feedsWithNewEpisodes7days'
              feedsWithNewEpisodes10days:
                $ref: '#/components/schemas/feedsWithNewEpisodes10days'
              feedsWithNewEpisodes14days:
                $ref: '#/components/schemas/feedsWithNewEpisodes14days'
              feedsWithNewEpisodes30days:
                $ref: '#/components/schemas/feedsWithNewEpisodes30days'
              feedsWithNewEpisodes60days:
                $ref: '#/components/schemas/feedsWithNewEpisodes60days'
              feedsWithNewEpisodes90days:
                $ref: '#/components/schemas/feedsWithNewEpisodes90days'
              paidFeedsWithNewEpisodes3days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes3days'
              paidFeedsWithNewEpisodes7days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes7days'
              paidFeedsWithNewEpisodes10days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes10days'
              paidFeedsWithNewEpisodes14days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes14days'
              paidFeedsWithNewEpisodes30days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes30days'
              paidFeedsWithNewEpisodes60days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes60days'
              paidFeedsWithNewEpisodes90days:
                $ref: '#/components/schemas/paidFeedsWithNewEpisodes90days'
              newEpisodes3days:
                $ref: '#/components/schemas/newEpisodes3days'
              newEpisodes7days:
                $ref: '#/components/schemas/newEpisodes7days'
              newEpisodes10days:
                $ref: '#/components/schemas/newEpisodes10days'
              newEpisodes14days:
                $ref: '#/components/schemas/newEpisodes14days'
              newEpisodes30days:
                $ref: '#/components/schemas/newEpisodes30days'
              newEpisodes60days:
                $ref: '#/components/schemas/newEpisodes60days'
              newEpisodes90days:
                $ref: '#/components/schemas/newEpisodes90days'
              feedsWithValueBlocks:
                $ref: '#/components/schemas/feedsWithValueBlocks'
              feedsWithFundingTag:
                $ref: '#/components/schemas/feedsWithFundingTag'
              feedsWithTranscripts:
                $ref: '#/components/schemas/feedsWithTranscripts'
              episodesWithTranscripts:
                $ref: '#/components/schemas/episodesWithTranscripts'
              feedsWithChapters:
                $ref: '#/components/schemas/feedsWithChapters'
              episodesWithChapters:
                $ref: '#/components/schemas/episodesWithChapters'
              feedsWithMediumMusic:
                $ref: '#/components/schemas/feedsWithMediumMusic'
              feedsWithMediumVideo:
                $ref: '#/components/schemas/feedsWithMediumVideo'
    static_sats_data:
      description: Object containing the number of sats, transactions, and senders.
      content:
        application/json:
          schema:
            type: object
            properties:
              sats:
                description: Array of sats seen in transactions on the specified date (x)
                type: array
                items:
                  type: object
                  properties:
                    x:
                      description: Date in YYYY-M-D format.
                      type: string
                      example: 2024-5-24
                    y:
                      description: Number of sats transacted
                      type: integer
                      example: 629594
              senders:
                description: Array of senders (supporters) seen in transactions on the specified date (x)
                type: array
                items:
                  type: object
                  properties:
                    x:
                      description: Date in YYYY-M-D format.
                      type: string
                      example: 2024-5-24
                    y:
                      description: Number of senders
                      type: integer
                      example: 238
              txs:
                description: Array of transactions on the specified date (x)
                type: array
                items:
                  type: object
                  properties:
                    x:
                      description: Date in YYYY-M-D format.
                      type: string
                      example: 2024-5-24
                    y:
                      description: Number of transactions
                      type: integer
                      example: 8212
              colors:
                description: Colors used in graphs
                type: object
                properties:
                  txcolor:
                    type: string
                    example: '#ff3333'
                  color14:
                    type: string
                    example: '#9370db'
                  color30:
                    type: string
                    example: '#58d68d'
                  color60:
                    type: string
                    example: '#0088cc'
                  color7:
                    type: string
                    example: '#fffa90'
                  color90:
                    type: string
                    example: '#ff8800'
    static_current:
      description: 'The feed and episode data seen by the Podcast Index.

        '
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              feedCount:
                $ref: '#/components/schemas/feedCount'
              itemCount:
                $ref: '#/components/schemas/itemCount'
              max:
                $ref: '#/components/schemas/max'
              since:
                $ref: '#/components/schemas/since'
              previousTrackingUrl:
                description: URL to previous set of data
                type: string
                example: https://tracking.podcastindex.org/1724468201
              data:
                $ref: '#/components/schemas/data_static'
    static_tracking_feed_value_blocks:
      description: Array of episodes containing value blocks
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/id_feed'
                itunesId:
                  $ref: '#/components/schemas/itunesId_feed'
                podcastGuid:
                  $ref: '#/components/schemas/podcastguid'
                url:
                  $ref: '#/components/schemas/url_feed'
                value:
                  $ref: '#/components/schemas/value'
                valueCreatedOn:
                  $ref: '#/components/schemas/valueCreatedOn'
    static_music_rss:
      description: 'The hourly Top X music



        Data follows the RSS XML spec with additions of

        [Podcast Namespace](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md) attributes.



        The [`podcast:remoteItem`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#remote-item)

        is used to reference the episodes in the music chart.

        '
      content:
        application/rss+xml:
          schema:
            type: object
    400_static:
      description: Invalid request
      content:
        application/xml:
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  Code:
                    type: string
                  RequestId:
                    type: string
                  HostId:
                    type: string
          example:
            status: 'false'
            description: Invalid parameters
  schemas:
    episodesWithTranscripts:
      description: 'Episodes with a

        [`podcast:transcript`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#transcript)

        tag.

        '
      type: integer
      example: 3198597
    itemCount:
      description: 'Number of items in the `items` returned in request

        '
      type: integer
      example: 1
    enclosureLength:
      description: 'The length of the item specified by the `enclosureUrl` in bytes

        '
      type: integer
      format: bytes
      example: 26385472
    max:
      description: 'Value of `max` parameter passed to request.

        '
      type: integer
      nullable: true
      example: 2
    newEpisodes60days:
      description: 'Podcast feeds with a new episode containing a released in the last 60 days.

        '
      type: integer
      example: 3710750
    type_v4v:
      description: 'Payment type

        '
      type: string
      enum:
      - lightning
      - hive
      - webmonetization
      example: lightning
    description_feed:
      description: 'The channel-level description



        Uses the longer of the possible fields in the feed: `<description>`, `<itunes:summary>` and `<content:encoded>`

        '
      type: string
      example: 'Batman University is a seasonal podcast about you know who. It began with an analysis of episodes of “Batman: The Animated Series” but has now expanded to cover other series, movies, and media. Your professor is Tony Sindelar.'
    address_destination:
      description: 'Address of node to receive payment

        '
      type: string
      example: 03ae9f91a0cb8ff43840e3c322c4c61f019d8c1c3cea15a25cfc425ac605e61a4a
    feedsWithChapters:
      description: 'Podcast feeds with a

        [`podcast:chapters`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#chapters)

        tag in at least 1 episode.

        '
      type: integer
      example: 35582
    episodeAdded:
      description: 'The time the episode was added to the index

        '
      type: integer
      format: Unix Epoch
      example: 1613786624
    title_feed:
      description: 'Name of the feed

        '
      type: string
      example: Batman University
    position:
      description: 'Position in data

        '
      type: integer
      example: 12843054496
    feedsWithNewEpisodes3days:
      description: 'Podcast feeds with a new episode released in the last 3 days.

        '
      type: integer
      example: 97522
    newEpisodes90days:
      description: 'Podcast feeds with a new episode containing a released in the last 90 days.

        '
      type: integer
      example: 5498580
    items_data_obj:
      type: object
      properties:
        episodeId:
          $ref: '#/components/schemas/id_episode'
        episodeTitle:
          $ref: '#/components/schemas/title_feed'
        episodeDescription:
          $ref: '#/components/schemas/description_episode'
        episodeImage:
          $ref: '#/components/schemas/image_episode'
        episodeTimestamp:
          $ref: '#/components/schemas/datePublished'
        episodeAdded:
          $ref: '#/components/schemas/episodeAdded'
        episodeEnclosureUrl:
          $ref: '#/components/schemas/enclosureUrl'
        episodeEnclosureLength:
          $ref: '#/components/schemas/enclosureLength'
        episodeEnclosureType:
          $ref: '#/components/schemas/enclosureType'
        episodeDuration:
          $ref: '#/components/schemas/duration'
        episodeType:
          $ref: '#/components/schemas/episodeType'
        feedId:
          $ref: '#/components/schemas/id_feed'
    guid:
      description: 'The unique identifier for the episode

        '
      type: string
      example: incomparable/batman/19
    model_v4v:
      description: 'Description of the method for providing "Value for Value" payments

        '
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_v4v'
        method:
          $ref: '#/components/schemas/method_v4v'
        suggested:
          $ref: '#/components/schemas/suggested_v4v'
    newEpisodes30days:
      description: 'Podcast feeds with a new episode containing a released in the last 30 days.

        '
      type: integer
      example: 1901547
    name_destination:
      description: 'Name for the destination

        '
      type: string
      example: podcaster
    enclosureType:
      description: 'The Content-Type for the item specified by the `enclosureUrl`

        '
      type: string
      example: audio/mp3
    items_data:
      description: 'List of recent episode item data

        '
      type: array
      items:
        $ref: '#/components/schemas/items_data_obj'
    newEpisodes10days:
      description: 'Podcast feeds with a new episode containing a released in the last 10 days.

        '
      type: integer
      example: 684833
    data_static:
      description: 'Object containing the recent data

        '
      type: object
      properties:
        nextSince:
          description: 'Value of `since` in next block of data

            '
          type: integer
          format: Unix Epoch
          example: 1613805249
        position:
          $ref: '#/components/schemas/position'
        feeds:
          $ref: '#/components/schemas/feeds_data'
        items:
          $ref: '#/components/schemas/items_data'
    method_v4v:
      description: 'Method for sending payment

        '
      type: string
      example: keysend
    episodesWithChapters:
      description: 'Number of episodes with [`podcast:chapters`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#chapters)

        '
      type: integer
      example: 652781
    enclosureUrl:
      description: 'URL/link to the episode file

        '
      type: string
      format: URL
      example: https://www.theincomparable.com/podcast/batmanuniversity302.mp3
    image_feed:
      description: 'The channel-level image element.

        '
      type: string
      format: URL
      example: https://www.theincomparable.com/imgs/logos/logo-batmanuniversity-3x.jpg?cache-buster=2019-06-11
    feeds_data_obj:
      type: object
      properties:
        feedId:
          $ref: '#/components/schemas/id_feed'
        feedUrl:
          $ref: '#/components/schemas/url_feed'
        feedTitle:
          $ref: '#/components/schemas/title_feed'
        feedDescription:
          $ref: '#/components/schemas/description_feed'
        feedImage:
          $ref: '#/components/schemas/image_feed'
        feedLanguage:
          $ref: '#/components/schemas/language'
        feedItunesId:
          $ref: '#/components/schemas/itunesId_feed'
    customKey:
      description: 'The name of a custom record key to send along with the payment. May not be reported.



        See the [podcast namespace spec](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        and [value specification](https://github.com/Podcastindex-org/podcast-namespace/blob/main/value/value.md)

        for more information.

        '
      type: string
      nullable: true
      example: '112111100'
    podcastguid:
      description: 'The GUID from the `podcast:guid` tag in the feed. This value is a unique, global identifier for the podcast.



        See the namespace spec for

        [guid](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#guid) for details.

        '
      type: string
      example: 9b024349-ccf0-5f69-a609-6b82873eab3c
    feedCount:
      description: 'Number of items in the `feeds` returned in request

        '
      type: integer
      example: 1
    duration:
      description: 'The estimated length of the item specified by the `enclosureUrl` in seconds. Will be null for `liveItem`.

        '
      type: integer
      nullable: true
      format: seconds
      example: 54
    value:
      description: "Information for supporting the podcast via one of the \"Value for Value\" methods. May not be reported.\n\n\nExamples:\n  - `lightning` value type: https://api.podcastindex.org/api/1.0/podcasts/byfeedid?id=169991&pretty\n  - `webmonetization` value type: https://api.podcastindex.org/api/1.0/podcasts/byfeedid?id=779873&pretty\n"
      type: object
      nullable: true
      properties:
        model:
          $ref: '#/components/schemas/model_v4v'
        destinations:
          $ref: '#/components/schemas/destinations_v4v'
    feedsWithNewEpisodes10days:
      description: 'Podcast feeds with a new episode released in the last 10 days.

        '
      type: integer
      example: 212322
    status:
      description: 'Indicates API request status

        '
      type: string
      enum:
      - 'true'
      - 'false'
      example: 'true'
    feeds_data:
      description: 'List of recent feed data

        '
      type: array
      items:
        $ref: '#/components/schemas/feeds_data_obj'
    image_episode:
      description: 'The item-level image for the episode

        '
      type: string
      format: URL
      example: https://www.theincomparable.com/imgs/logos/logo-batmanuniversity-3x.jpg?cache-buster=2019-06-11
    type_destination:
      description: 'Type of destination

        '
      type: string
      enum:
      - node
      example: node
    feedsWithMediumVideo:
      description: 'Podcast feeds with a

        [`podcast:medium`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#medium)

        tag with a value of `video`.

        '
      type: integer
      example: 1288
    feedsWithNewEpisodes30days:
      description: 'Podcast feeds with a new episode released in the last 30 days.

        '
      type: integer
      example: 306748
    feedsWithTranscripts:
      description: 'Podcast feeds with a

        [`podcast:transcript`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#transcript)

        tag in at least 1 episode.

        '
      type: integer
      example: 61385
    itunesId_feed:
      description: 'The iTunes ID of this feed if there is one, and we know what it is.

        '
      type: integer
      nullable: true
      example: 1441923632
    feedCountTotal:
      description: 'Total podcast feeds in the index.

        '
      type: integer
      example: 4257865
    paidFeedsWithNewEpisodes10days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 10 days.

        '
      type: integer
      example: 165789
    feedsWithFundingTag:
      description: 'Podcast feeds with a

        [`podcast:funding`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#funding)

        tag in at least 1 episode.

        '
      type: integer
      example: 57582
    since:
      description: 'Value of `since` parameter passed to request.

        '
      type: integer
      nullable: true
      format: Unix Epoch
      example: 1613805249
    paidFeedsWithNewEpisodes90days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 90 days.

        '
      type: integer
      example: 335380
    feedsWithNewEpisodes14days:
      description: 'Podcast feeds with a new episode released in the last 14 days.

        '
      type: integer
      example: 239664
    id_episode:
      description: 'The internal PodcastIndex.org episode ID.

        '
      type: integer
      example: 16795088
    suggested_v4v:
      description: 'Suggested amount per second of playback to send. Unit is specific to the `type`.

        '
      type: string
      nullable: true
      example: '0.00000020000'
    episodeCountTotal:
      description: 'Total individual podcast episodes in the index.

        '
      type: integer
      example: 143953477
    datePublished:
      description: 'The date and time the episode was published

        '
      type: integer
      format: Unix Epoch
      example: 1546399813
    newEpisodes7days:
      description: 'Podcast feeds with a new episode containing a released in the last 7 days.

        '
      type: integer
      example: 442061
    destination_v4v:
      description: 'Destination for "Value for Value" payment.

        '
      type: object
      properties:
        name:
          $ref: '#/components/schemas/name_destination'
        address:
          $ref: '#/components/schemas/address_destination'
        type:
          $ref: '#/components/schemas/type_destination'
        split:
          $ref: '#/components/schemas/split_destination'
        fee:
          $ref: '#/components/schemas/fee_destination'
        customKey:
          $ref: '#/components/schemas/customKey'
        customValue:
          $ref: '#/components/schemas/customValue'
    split_destination:
      description: 'Share of payment the destination should receive

        '
      type: integer
      example: 99
    fee_destination:
      description: 'Indicates if destination is included due to a fee being charged. May not be reported.

        '
      type: boolean
      nullable: true
      example: true
    episodeType:
      description: 'The type of episode. May be null for `liveItem`.

        '
      type: string
      nullable: true
      enum:
      - full
      - trailer
      - bonus
      example: full
    valueCreatedOn:
      description: 'The time this feed''s `value` data added. Will be 0 if no `value` data.

        '
      type: integer
      format: Unix Epoch
      example: 1598369047
    paidFeedsWithNewEpisodes60days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 60 days.

        '
      type: integer
      example: 77632
    description_episode:
      description: 'The item-level description of the episode.



        Uses the longer of the possible fields in the feed: `<description>`, `<itunes:summary>` and `<content:encoded>`

        '
      type: string
      example: Batman University is back in session! James Thomson and Nathan Alderman join Tony for a discussion of Fox’s “Gotham.” Tune in to hear our thoughts on how a half-baked comic book show was reborn into an unmissable train wreck.
    language:
      description: 'The channel-level language specification of the feed.


        Languages accord with the [RSS Language Spec](https://www.rssboard.org/rss-language-codes).

        '
      type: string
      example: en-us
    feedsWithNewEpisodes60days:
      description: 'Podcast feeds with a new episode released in the last 60 days.

        '
      type: integer
      example: 382945
    feedsWithNewEpisodes7days:
      description: 'Podcast feeds with a new episode released in the last 7 days.

        '
      type: integer
      example: 179043
    feedsWithNewEpisodes90days:
      description: 'Podcast feeds with a new episode released in the last 90 days.

        '
      type: integer
      example: 436933
    destinations_v4v:
      description: 'List of destinations where "Value for Value" payments should be sent.

        '
      type: array
      items:
        $ref: '#/components/schemas/destination_v4v'
    paidFeedsWithNewEpisodes3days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 3 days.

        '
      type: integer
      example: 77638
    newEpisodes3days:
      description: 'Podcast feeds with a new episode containing a released in the last 3 days.

        '
      type: integer
      example: 212324
    feedsWithMediumMusic:
      description: 'Podcast feeds with a

        [`podcast:medium`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#medium)

        tag with a value of `music`.

        '
      type: integer
      example: 3700
    customValue:
      description: 'A custom value to pass along with the payment. This is considered the value that belongs to the customKey. May not be reported.



        See the [podcast namespace spec](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        and [value specification](https://github.com/Podcastindex-org/podcast-namespace/blob/main/value/value.md)

        for more information.

        '
      type: string
      nullable: true
      example: wal_ZmqFg13NB31oek
    feedsWithValueBlocks:
      description: 'Podcast feeds with a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        tag in at least 1 episode.

        '
      type: integer
      example: 21916
    newEpisodes14days:
      description: 'Podcast feeds with a new episode containing a released in the last 14 days.

        '
      type: integer
      example: 907203
    id_feed:
      description: 'The internal PodcastIndex.org Feed ID.

        '
      type: integer
      example: 75075
    paidFeedsWithNewEpisodes7days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 7 days.

        '
      type: integer
      example: 140275
    paidFeedsWithNewEpisodes14days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 14 days.

        '
      type: integer
      example: 186602
    url_feed:
      description: 'Current feed URL

        '
      type: string
      format: URL
      example: https://feeds.theincomparable.com/batmanuniversity
    paidFeedsWithNewEpisodes30days:
      description: 'Podcast feeds with a new episode containing a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        block released in the last 30 days.

        '
      type: integer
      example: 237389
  securitySchemes:
    User-Agent:
      type: apiKey
      in: header
      name: User-Agent
      description: 'Please identify the system/product you are using to make this request.



        *Example*: `SuperPodcastPlayer/1.3`

        '
    API-Key:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: 'Your API key string



        *Example*: `UXKCGDSYGUUEVQJSYDZH`

        '
    Date:
      type: apiKey
      in: header
      name: X-Auth-Date
      description: 'The current UTC unix epoch time as a string. 3 minute window.



        This value is an integer; round down if needed. The value shall not include a decimal point.



        Value generated should match the value shown on the website https://www.epochconverter.com/.



        *Example*: `1613713388`

        '
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: "A SHA-1 hash of the `X-Auth-Key`, the corresponding secret and the `X-Auth-Date` value concatenated as a string.\nThe resulting hash should be encoded as a hexadecimal value, two digits per byte, using lower case letters for\nthe hex digits \"a\" through \"f\".\n\n\nThe Authorization header is computed with something like this (pseudo-code):\n\n    authHeader = sha1(apiKey+apiSecret+unixTime)\n\nExample value, uses example values of `X-Auth-Key` and `X-Auth-Date` and an api secret of\n`yzJe2eE7XV-3eY576dyRZ6wXyAbndh6LUrCZ8KN|`\n\n\n*Example*: `UXKCGDSYGUUEVQJSYDZH`\n"
