openapi: 3.2.0
info:
  version: 1.12.1
  title: PodcastIndex.org Stats API
  termsOfService: https://github.com/Podcastindex-org/legal/blob/main/TermsOfService.md
  contact:
    email: info@podcastindex.org
    url: https://podcastindex.org/
  license:
    name: MIT
    url: https://github.com/Podcastindex-org/docs-api/blob/master/LICENSE
  x-logo:
    url: logo.svg
    href: /
  description: Download the openapi spec in json or yaml format.
servers:
- url: https://api.podcastindex.org/api/1.0
tags:
- name: Stats
  description: Statistics for items in the Podcast Index
paths:
  /stats/current:
    get:
      tags:
      - Stats
      summary: Current
      description: 'Return the most recent index statistics.


        Hourly statistics can also be access at https://stats.podcastindex.org/hourly_counts.json

        For details, see Stats Hourly Counts.


        Daily statistics can also be access at https://stats.podcastindex.org/daily_counts.json.

        For details, see Stats Daily Counts.


        Example: https://api.podcastindex.org/api/1.0/stats/current?pretty'
      operationId: stats/current
      security:
      - API-Key: []
        User-Agent: []
        Date: []
        Authorization: []
      parameters:
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          $ref: '#/components/responses/stats_current'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
components:
  schemas:
    description_response:
      description: 'Description of the response

        '
      type: string
      example: Found matching feed
    feedsWithNewEpisodes90days:
      description: 'Podcast feeds with a new episode released in the last 90 days.

        '
      type: integer
      example: 436933
    feedCountTotal:
      description: 'Total podcast feeds in the index.

        '
      type: integer
      example: 4257865
    feedsWithNewEpisodes3days:
      description: 'Podcast feeds with a new episode released in the last 3 days.

        '
      type: integer
      example: 97522
    feedsWithNewEpisodes30days:
      description: 'Podcast feeds with a new episode released in the last 30 days.

        '
      type: integer
      example: 306748
    stats:
      description: 'An array statistic properties

        '
      type: object
      properties:
        feedCountTotal:
          $ref: '#/components/schemas/feedCountTotal'
        episodeCountTotal:
          $ref: '#/components/schemas/episodeCountTotal'
        feedsWithNewEpisodes3days:
          $ref: '#/components/schemas/feedsWithNewEpisodes3days'
        feedsWithNewEpisodes10days:
          $ref: '#/components/schemas/feedsWithNewEpisodes10days'
        feedsWithNewEpisodes30days:
          $ref: '#/components/schemas/feedsWithNewEpisodes30days'
        feedsWithNewEpisodes90days:
          $ref: '#/components/schemas/feedsWithNewEpisodes90days'
        feedsWithValueBlocks:
          $ref: '#/components/schemas/feedsWithValueBlocks'
    episodeCountTotal:
      description: 'Total individual podcast episodes in the index.

        '
      type: integer
      example: 143953477
    status:
      description: 'Indicates API request status

        '
      type: string
      enum:
      - 'true'
      - 'false'
      example: 'true'
    feedsWithNewEpisodes10days:
      description: 'Podcast feeds with a new episode released in the last 10 days.

        '
      type: integer
      example: 212322
    feedsWithValueBlocks:
      description: 'Podcast feeds with a

        [`podcast:value`](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value)

        tag in at least 1 episode.

        '
      type: integer
      example: 21916
  parameters:
    pretty:
      name: pretty
      in: query
      description: 'If present, makes the output “pretty” to help with debugging.



        Parameter shall not have a value

        '
      schema:
        type: boolean
      allowEmptyValue: true
  responses:
    stats_current:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              stats:
                $ref: '#/components/schemas/stats'
              description:
                $ref: '#/components/schemas/description_response'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            type: string
          example: Authorization header value either not set or blank.
    '400':
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/status'
              description:
                $ref: '#/components/schemas/description_response'
          example:
            status: 'false'
            description: Invalid parameters
  securitySchemes:
    User-Agent:
      type: apiKey
      in: header
      name: User-Agent
      description: 'Please identify the system/product you are using to make this request.



        *Example*: `SuperPodcastPlayer/1.3`

        '
    API-Key:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: 'Your API key string



        *Example*: `UXKCGDSYGUUEVQJSYDZH`

        '
    Date:
      type: apiKey
      in: header
      name: X-Auth-Date
      description: 'The current UTC unix epoch time as a string. 3 minute window.



        This value is an integer; round down if needed. The value shall not include a decimal point.



        Value generated should match the value shown on the website https://www.epochconverter.com/.



        *Example*: `1613713388`

        '
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: "A SHA-1 hash of the `X-Auth-Key`, the corresponding secret and the `X-Auth-Date` value concatenated as a string.\nThe resulting hash should be encoded as a hexadecimal value, two digits per byte, using lower case letters for\nthe hex digits \"a\" through \"f\".\n\n\nThe Authorization header is computed with something like this (pseudo-code):\n\n    authHeader = sha1(apiKey+apiSecret+unixTime)\n\nExample value, uses example values of `X-Auth-Key` and `X-Auth-Date` and an api secret of\n`yzJe2eE7XV-3eY576dyRZ6wXyAbndh6LUrCZ8KN|`\n\n\n*Example*: `UXKCGDSYGUUEVQJSYDZH`\n"
